.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza della viewport */
    margin-top: 100px;
  }
  
  .login-box {
    background-color: #fff;
    border: 2px solid black; /* Bordo nero */
    padding: 40px 20px 40px 20px;
    width: 100%;
    max-width: 400px; /* Larghezza massima del form */
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between; /* Pulsanti uno accanto all'altro */
  }
  
  .button-group .btn {
    width: 48%; /* Larghezza dei pulsanti */
    border-radius: 0px;
  }
  
  .registration-message {
    margin-top: 15px;
    text-align: center;
  }
  
  @media (max-width: 992px) {
    .login-container {
      margin-top: 40px;
    }
  }